services:
  server:
    build: ./backend
    container_name: express-server
    ports:
      - "4000:4000"
    env_file:
    - ./backend/.env
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./frontend
    container_name: react-client
    ports:
      - "5174:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
